# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# OS / Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Test cache
.pytest_cache/

# Mypy / type check
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Uvicorn
uvicorn.log
